<h1>Users</h1>
<div class="container">
<div class="user_profile">
<div class="photos">
  <% @users.each do |user| %>
    <ul class="photo"> 
   <li> <img src="<%= user.photo %>"> </li>
   </ul>
    <% end %>
</div>

<div class="names_posts">
  <% @users.each do |user| %>
    <ul class="name_post"> 
   <li class="list_name"> <%= user.name %> </li>
   <li class="list_countpost">Number of post: <%= user.postscounter %> </li>
   </ul>
    <% end %>
</div>
</div>
</div>