<div class="container">

<div class="photos">
    <ul class="photo"> 
   <li> <img src="<%= @user.photo %>"> </li>
   </ul>
</div>

<div class="names_posts">
    <ul class="name_post"> 
   <li class="list_name"> <%= @user.name %> </li>
   <li class="list_countpost">Number of post: <%= @user.postscounter %> </li>
   </ul>
</div>
</div>