/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border: 5px solid ; 
}

.photo {
    width: 10vw;
    height: 10.5vw;
}

.name_post {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 20vh;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border: 5px solid ; 
    gap: 5vh;
}

 .list_name{
    font-size: 30px;
    padding-top: 3%;
    padding-left: 10%;
 }
 .list_countpost {  
    padding-left: 80%;
 }
